.navbar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #45464b;
    margin-bottom: 0;
    z-index: 1000; 
}


.si__navbar{
    display: flex;
    flex-direction: column;
}

.section__padding{
    padding: 2rem 2rem;
}

.si__navbar-select {
    display: flex;
    justify-content: space-between; /* 중앙 정렬에서 좌우 균등 간격으로 변경 */
    align-items: center; /* 세로 중앙 정렬 유지 */
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0; /* 마진 조정 */
    margin-bottom: 0;
}

.si__navbar-select p {
    flex: 1; /* 각 p 태그가 동일한 공간을 차지하도록 설정 */
    margin: 1rem;
    font-size: 1.7rem;
    line-height: 1rem; /* line-height 조정 */
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center; /* 텍스트 중앙 정렬로 변경 */
}

.si__navbar-select a{
    color: #222;
    text-decoration: none;;
}

.main-content {
    padding-bottom: 50px;
}

@media screen and (max-width: 850px) {
    .si__navbar-heading h1{
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .si__navbar-heading h1{
        font-size: 34px;
        line-height: 42px;
    }
    .si__navbar-below{
        flex-direction: column;
        justify-content: center;
    }
}