.navbar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #45464b;
    margin-bottom: 0;
    z-index: 1000; 
}


.si__navbar{
    display: flex;
    flex-direction: column;
}

.section__padding{
    padding: 1rem 1rem;
}

.si__navbar-select {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;
    width: 85%;
    margin-left: 7.5%;
}

.si__navbar-select > * {
    flex: 1;
    margin: 1;
    font-size: 1.7rem;
    line-height: 1rem; /* line-height 조정 */
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;
}

@media screen and (max-width: 850px) {
    .si__navbar-heading h1{
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .si__navbar-heading h1{
        font-size: 34px;
        line-height: 42px;
    }
    .si__navbar-below{
        flex-direction: column;
        justify-content: center;
    }
    .si__navbar-select > * {
        flex: 1;
        margin: 1rem;
        max-width: 30px;
    }
}